.anchol{
    width:100%;
}

.espacio{
    margin-bottom: 30px;
}
.espaciog{
    margin-bottom: 50px;
}
.labelg{
    font-size: 30px;
}
.labelgrande{
    font-size: 25px;
}
.labelmd{
    font-size: 20px;
}
.labelsm{
    font-size: 15px;
}
.labelxs{
    font-size: 10px;
}
.labelxss{
    font-size: 9px;
}
